
*.xml
*.xml
.idea/Woodify.iml
.idea/misc.xml
*.pyc
venv/pyvenv.cfg
venv/pyvenv.cfg
.idea/misc.xml
venv/pyvenv.cfg
/venv/
*.xml
.idea/Woodify.iml
.idea/misc.xml
.idea/misc.xml
.idea/Woodify.iml
*.iml
*.xml
